{{> header title="Page"}}

<div class="container px-3 py-3 pt-md-5 pb-md-4">
  <h1 class="display-4 text-center">
    Page template
  </h1>

  <div class="row">
    <div class="col-sm-4">
      Main helpers:
      <ul class="list-group">
        <li class="list-group-item">Assets: <span class="badge badge-primary">{{assets}}</span></li>
        <li class="list-group-item">Index: <a href="{{indexDir}}/index.html"><span class="badge badge-primary">{{indexDir}}</span></a></li>
        <li class="list-group-item">time: <span class="badge badge-primary">{{time}}</span></li>
      </ul>
    </div>
  </div>

</div>

{{> footer }}
